
<div class="flex flex-column p-2">

  <h3>Buscador</h3>

  <mat-form-field>

    <mat-label>Buscador de Héroes</mat-label>
    <input type="text"
    matInput
    [formControl]="searchInput"
    (input)="searchHero()"
    [matAutocomplete]="auto">
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="onSelectedOption( $event )">
      <mat-option *ngFor="let hero of heroes" [value]="hero" >
        {{ hero.superhero }}
      </mat-option>
      <mat-option *ngIf="heroes.length ===0 && searchInput.value  && searchInput.value.length > 0">
        No se encontró nada con el termino {{ searchInput.value }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <!-- <mat-card class="col-12 sm:col-6">
    <mat-card-header>
      <mat-card-title>{{ hero.alter_ego}}</mat-card-title>
      <mat-card-subtitle>{{ hero.superhero }}</mat-card-subtitle>
    </mat-card-header>
    <img [src]="hero | heroImage"  [alt]="hero.superhero" mat-card-image>
  </mat-card> -->


  <mat-card  *ngIf="selectedHero" class="col-12 sm:col-6">
    <mat-card-header>
        <mat-card-title>{{ selectedHero.alter_ego }}</mat-card-title>
        <mat-card-subtitle>{{ selectedHero.superhero }}</mat-card-subtitle>
        <img  [src]="selectedHero | heroImage" [alt]="selectedHero.superhero">
    </mat-card-header>
    <button
    mat-stroked-button
    class="btn btn-primary mt-2"
    (click)="goToHero(selectedHero.id)">
      Ir a pagina del Heroe
    </button>
  </mat-card>

</div>
